@media screen and (max-width:479px) {
    .wrapper {
        width: 200px;     
    }
    header {
        width: 100%;
        height: auto;
        display:flex;
        flex-direction: column;   
    }
    .box {
       flex-direction: column; 
       margin: 20px 70px;
       border-left: solid 10px white;   
    }
    .box div:first-child {
        border-left: none;
    }
    .left {   
        width: 100%;
        height: 100px;
    }
    .right {    
        width: 100%;
        height: auto;
    }
    .right-box {
        margin: 20px 30px; 
        width: auto;
    }
    .right-box:first-child {
        margin-bottom: 10px;  
    }
    .right-box div {
        box-sizing: border-box;
    }
    .fotter {
        width: 100%;
    }
}